<div class="outermost">

    <div class="heading">
        Category Name Here
    </div>

        <div class="row">

            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/1.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Electronics</div>
                </a>
            </div>
            
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/2.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Men's Clothing</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/3.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Women's Clothing</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/4.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Sports & Fitness</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/5.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Beauty & Health</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/6.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Toys & Games</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/7.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Pet Supplies</div>
                </a>
            </div>
    
            <div class="card col-6 col-sm-6 col-md-4 col-lg-3">
                <a routerLink="product" class="main-link">
                    <div class="img-div">
                        <img class="imgg" src="assets/8.jpeg" alt="img-is-missing">
                    </div>
                    <div class="info1">Books</div>
                </a>
            </div>
        </div>
</div>