<div class="outermost">

    <div class="upper">

        <img src="assets/1.jpeg" alt="product">

        <div class="data">
            <span>Haier T-Door Refrigerator</span>
            <span>PKR 349,000</span>
            <span>Model No: HRF-678TGG</span>
            <div>specification 1</div>
            <div>specification 2</div>
            <div>specification 3</div>
            <div>specification 4</div>
        </div>
    </div>

    <div class="lower">

        <span>Description:</span>

        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam ea maxime natus tempore cumque, fugiat quisquam magni nostrum praesentium aliquam dolores doloribus explicabo vel aspernatur qui consectetur pariatur exercitationem dicta quas architecto dolor beatae commodi. Odio illo magnam dolores quidem similique necessitatibus modi aut cumque libero tenetur, inventore harum quibusdam sit praesentium at nobis non velit itaque fugit. Deserunt nobis voluptatem rerum sequi, porro animi cumque consequatur distinctio inventore soluta nisi recusandae fugiat aut possimus est quis repellat odit sed laborum cupiditate at necessitatibus. Eligendi magni necessitatibus perspiciatis, nulla alias dicta ex cumque eveniet harum quaerat. Consequatur eligendi impedit nam.
        </div>

    </div>

</div>