<div class="outermost">
    <div class="contentbox">
        <div class="profilephoto">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="userdata">
            <div class="innerdata"><b>Username: </b><span>Kuswa Tul Ka'aba</span></div>
            <div class="innerdata"><b>Password: </b><span>*********</span></div>
            <div class="innerdata"><b>Email: </b><span>kuswatulkaaba&#64;gmail.com</span></div>
            <div class="innerdata"><b>Contact: </b><span>+923166386568</span></div>
        </div>
    </div>
</div>